# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# caches
__pycache__/

# testing
/coverage
tboxd_backend/*.csv
tboxd_src/*.csv

# production
/build

#libraries
/Lib

#keys
tboxd_backend/.env

#scripts
/Scripts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
